{% extends "blog/base.html" %}
{% block content %}

{% for post in posts %}
  <!-- Blog Posts -->
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
      <a href="{{ post.get_url }}" class="btn btn-outline-secondary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.publish }} by
      <a href="#">{{ post.author }}</a>
    </div>
    {% if post.tags.count %}
      <div class="card-footer text-muted">
        Tags: 
        {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="badge badge-light">{{ tag.name }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endfor %}

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
  {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}">&larr; Older</a>
    </li>
  {% endif %}
  {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">Newer &rarr;</a>
    </li>
  {% endif %}
</ul>

{% endblock %}
